In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.tree import export_graphviz

In [2]:
path = "Final_Dataset.csv"
life_df = pd.read_csv(path)
print("Shape of dataframe",life_df.shape)
life_df.head()

Shape of dataframe (990, 30)

,Country,Year,cervical_cancer_number_of_new_female_cases,co2_intensity_of_economic_output_kg_co2_per_2011_ppp_of_gdp,cumulative_co2_emissions_tonnes,liver_cancer_number_of_new_male_cases,flood_affected_annual_number,food_supply_kilocalories_per_person_and_day,literacy_rate_adult_total_percent_of_people_ages_15_and_above,literacy_rate_youth_total_percent_of_people_ages_15_24,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2000,776.0,NaN,72000000.0,178.0,0,1790.0,NaN,NaN,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
1,Afghanistan,2001,800.0,NaN,72800000.0,183.0,0,1740.0,NaN,NaN,...,35.0,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9
2,Afghanistan,2002,820.0,0.0458,73800000.0,190.0,5630,1830.0,NaN,NaN,...,36.0,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2
3,Afghanistan,2003,842.0,0.0471,75000000.0,199.0,3890,1890.0,NaN,NaN,...,41.0,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5
4,Afghanistan,2004,867.0,0.0371,76000000.0,207.0,4520,1970.0,NaN,NaN,...,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8

In [3]:
#cleaning and exploring dataframe
life_df = life_df.dropna(inplace=False)
print(life_df.shape)
life_df.head()

(109, 30)

,Country,Year,cervical_cancer_number_of_new_female_cases,co2_intensity_of_economic_output_kg_co2_per_2011_ppp_of_gdp,cumulative_co2_emissions_tonnes,liver_cancer_number_of_new_male_cases,flood_affected_annual_number,food_supply_kilocalories_per_person_and_day,literacy_rate_adult_total_percent_of_people_ages_15_and_above,literacy_rate_youth_total_percent_of_people_ages_15_24,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
10,Albania,2001,114.0,0.171,2.000000e+08,209.0,0,2800.0,98.7,99.4,...,97.0,6.00,97.0,0.1,1326.973390,36173.0,2.1,2.1,0.662,10.6
17,Albania,2008,131.0,0.162,2.290000e+08,201.0,0,2950.0,95.9,98.8,...,99.0,5.87,99.0,0.1,437.539647,2947314.0,1.6,1.6,0.713,12.0
24,Algeria,2006,871.0,0.242,2.690000e+09,224.0,60000,3050.0,72.7,91.8,...,95.0,3.36,95.0,0.1,3464.617900,33777915.0,6.1,6.0,0.686,12.3
46,Armenia,2001,342.0,0.360,2.300000e+08,150.0,0,2240.0,99.4,99.8,...,97.0,5.94,94.0,0.1,694.435119,35655.0,2.1,2.1,0.644,11.1
61,Azerbaijan,2007,631.0,0.268,2.460000e+09,294.0,0,3020.0,99.6,100.0,...,81.0,5.10,79.0,0.1,3851.437869,85813.0,2.8,2.9,0.708,11.6

In [4]:
#Label encoding the values to be provided as input for label encoding
input_df = life_df[['Country','Year','co2_intensity_of_economic_output_kg_co2_per_2011_ppp_of_gdp','liver_cancer_number_of_new_male_cases','flood_affected_annual_number','food_supply_kilocalories_per_person_and_day','literacy_rate_adult_total_percent_of_people_ages_15_and_above','literacy_rate_youth_total_percent_of_people_ages_15_24']]
input_df.head()

,Country,Year,co2_intensity_of_economic_output_kg_co2_per_2011_ppp_of_gdp,liver_cancer_number_of_new_male_cases,flood_affected_annual_number,food_supply_kilocalories_per_person_and_day,literacy_rate_adult_total_percent_of_people_ages_15_and_above,literacy_rate_youth_total_percent_of_people_ages_15_24
10,Albania,2001,0.171,209.0,0,2800.0,98.7,99.4
17,Albania,2008,0.162,201.0,0,2950.0,95.9,98.8
24,Algeria,2006,0.242,224.0,60000,3050.0,72.7,91.8
46,Armenia,2001,0.360,150.0,0,2240.0,99.4,99.8
61,Azerbaijan,2007,0.268,294.0,0,3020.0,99.6,100.0

In [5]:
target_df = life_df[['Life']]
target_df.head()

    Life
10  73.6
17  75.3
24  73.4
46  72.6
61  73.0

In [6]:
#label encoder for the dataset
le = preprocessing.LabelEncoder()
encoded_X = input_df.apply(le.fit_transform)
encoded_X.shape

(109, 8)

In [7]:
Y = target_df
Y.shape

(109, 1)

In [8]:
#spliting dataset into training and test dataset
#spliting the dataset into test and training dataset 
X_train, X_test, y_train, y_test =  train_test_split(encoded_X, Y, test_size=0.2, random_state=42)

#using decision tree regressor and predicting the values
regr = DecisionTreeRegressor(random_state = 0)
# regr.fit(encoded_X, Y)
regr.fit(X_train,y_train)
y_pred = regr.predict(X_test)

#using mean square method to determine how effecient the algorithm is
print("Mean squre error for Decision tree regressor using test data is: ",np.sqrt(mean_squared_error(y_test, y_pred)))

#Similarly applying the same for test data set and finding the mean square error
regr = DecisionTreeRegressor(random_state = 0)
regr.fit(X_test,y_test)
y_pred = regr.predict(X_test)
print("Mean squre error for Decision tree regressor using train data is: ",np.sqrt(mean_squared_error(y_test, y_pred)))

Mean squre error for Decision tree regressor using test data is:  3.3411348099383553
Mean squre error for Decision tree regressor using train data is:  0.0

In [9]:
# export_graphout_file ='tree.dot',feature_names =['Country','Year','co2_intensity_of_economic_output_kg_co2_per_2011_ppp_of_gdp','liver_cancer_number_of_new_male_cases','flood_affected_annual_number','food_supply_kilocalories_per_person_and_day','literacy_rate_adult_total_percent_of_people_ages_15_and_above','literacy_rate_youth_total_percent_of_people_ages_15_24'],
# filled=True,rounded=True)


from graphviz import Source

from IPython.display import SVG
graph = Source( export_graphviz(regr, out_file ='None', 
               feature_names =['Country','Year','co2_intensity_of_economic_output_kg_co2_per_2011_ppp_of_gdp','liver_cancer_number_of_new_male_cases','flood_affected_annual_number','food_supply_kilocalories_per_person_and_day','literacy_rate_adult_total_percent_of_people_ages_15_and_above','literacy_rate_youth_total_percent_of_people_ages_15_24'])
)
SVG(graph.pipe(format='svg'))

ExecutableNotFound: failed to execute ['dot', '-Tsvg'], make sure the Graphviz executables are on your systems' PATH